.Lista{
    width: calc(100% - 24px);
    margin: 24px 8px;
    display: grid;
    grid-template-columns: 52px 1fr 52px;
    place-items: center;
    list-style: none;
    font-weight: bolder;
    box-shadow: 3px 1px 6px rgba(255, 0, 0, 0.1);
    border-radius: 24px;
    
}

.Lista--completed{
    box-shadow: 3px 1px 6px rgba(0, 128, 0, 0.15);
    background-color: rgba(0, 128, 0, 0.13);
}
.Icon{
    cursor: pointer;
}
.TodoItem-p--active{
    text-decoration: line-through;

}